<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Target RPS RCAV</title>
</head>
<body>


<div><a href= "/rock">Play Rock</a></div>
<div><a href= "/paper">Play Paper</a></div>
<div><a href= "/scissors">Play Scissors</a></div>



<h2>We played paper!</h2>
<% com_move=["rock","paper","scissors"].sample %>
<h2>They played <%=com_move%>!</h2>
<% if com_move == "rock" %>
  <h2>We won!</h2>
<% elsif com_move == "paper" %>
  <h2>We tied!</h2>
<% elsif com_move == "scissors" %>
  <h2>We lost!</h2>
<%end%>

<div><a href= "https://3000-tianranlong-rpsrcav-5w0dtfpnyiz.ws-us72.gitpod.io/">Rules</a></div>

</body>
</html>
